@media (max-width: 1890px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  

@media (max-width: 480px) {
    .row{
        padding: 29px;
    }
}
