@import "header.css";
@import "cont.css";
@import "reset.css";
@import "counting.css";
@import "cateBox.css";
@import "main.css";
@import "slick.css";
@import "swiper.min.css";

#header {
  width: 100%;
  height: 55px;
}

.container {
  margin: 0 auto;
  width: 1060px;
}

.test1 {
  width: 88px;
}

.test2 {
  width: 88px;
}

.test3 {
  width: 88px;
}

.test4 {
  width: 88px;
}

.cateBox img {
  width: 88px;
}

/* .ic_linoleum img:hover .ic_linoleumOn {
  display: inline-block;
}
.ic_linoleum img:hover .ic_linoleumOff {
  display: none;
} */

/* <style>
.imgswap img:last-child{display:none}
.imgswap:hover img:first-child{display:none}
.imgswap:hover img:last-child{display:inline-block}
</style> */
